*.gcno
*.gcda
*.o
*.lo
*.la
*.deps
*.libs
*~
Makefile
Makefile.in
aclocal.m4
autom4te.cache
build
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
config.h
config.h.in
stamp-h1
m4/l*.m4
ur-registry.pc
test-driver
*.log
*.trs
tests/test_ur_registry
examples/.dirstamp
examples/decode_ur_interactive
examples/encode_ur_interactive